@import "tailwindcss";

:root {
  --background: #ffffff; /* page base */
  --foreground: #171A21; /* Ink Black */
  --brand-heading: #0B132B; /* Prussian Blue */
  --brand-raspberry: #950952; /* Dark Raspberry */
  --brand-alabaster: #DFDFDF; /* Alabaster Grey */
  --brand-bronze: #D58936; /* Bronze */
  --brand-rust: #A44200; /* Rust */

  /* font variables set by next/font in layout.tsx */
  --font-heading: ui-sans-serif; /* fallback */
  --font-body: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial,
    "Apple Color Emoji", "Segoe UI Emoji";
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Global font utility classes */
.font-heading {
  font-family: var(--font-heading), Arial, Helvetica, sans-serif;
}
.font-body {
  font-family: var(--font-body), Arial, Helvetica, sans-serif;
}
